BODY {
    font-size: 12px;
 	font-family:Arial,Helvetica,sans-serif,Verdana,Geneva;
    margin: auto;
	line-height:16px;
    background: #475A6E;
}
@font-face { font-family: 'Roboto Condensed'; font-style: normal; font-weight: 400; src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://stc.v3.news.zing.vn/css/fonts/Roboto-Condensed.woff) format('woff'); }

 
/*STYLE KET QUA BONG DA */
 
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
:after,:before { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
 
button,input,select,textarea { font-family:inherit; font-size:inherit; line-height:inherit; }
a { color:#000; text-decoration:none; }
a:focus,a:hover { color:#E54800 !important; text-decoration:none; }
a:focus { outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px; }
figure { margin:0; }
 
 /*END */
h5,
h6 {
  font-size:12px;
  font-weight:700;
}

th {
  background:#ffa906;
  color:#FFF;
  border:solid 1px #FFF;
}

.closer {
  clear:both;
}

.line {
  clear:both;
  height:5px;
  border-top:2px solid #fff;
}
 
.note{position:relative;background:greenyellow;margin-bottom:10px;-webkit-border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:10px 20px;line-height:1.6em;} 
 

.page {
  clear:both;
  display:block;
  padding:2px 0 5px;
}
 
h1.title,.blog-title a,#cm_wrap h2{color:#9a1d0d;font-size:20px;font-family:Trebuchet MS,Tahoma,Verdana;text-shadow:1px 1px 1px gray;}
.live_box {
  font-size:12px;
  line-height:normal;
  margin-bottom:5px;
}
 

.tivi img {
  width:17px;
  height:17px;
  margin-left:5px;
}

a:focus,
a:hover {
  color:#ff0000 !important;
  text-decoration:none;
}

a:focus {
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}

a {
  background-color:transparent;
}

a:active,
a:hover {
  outline:0;
}
  

A {
  color:#FF0; /*mauchu menu*/
  text-decoration:none;
  padding-left: 3px;
}

A:hover {
  color:#DEAE08;
  text-decoration:none;
}

 
.tabidx {
  width:20px;
}

* {
  margin:0;
  padding:0;
}

li {
  float:left;
  list-style:none;
}

a,
a:hover {
  cursor:pointer;
}

.clear {
  clear:both;
}

 
.list_movie_image li {
  margin-left:5px;
  margin-top:5px;
  position:relative;
}

#list_film .list_movie_name {
  display:none;
}

#list_film .list_movie_name li {
  width:240px;
  height:75px;
  margin-left:17px;
}

#content {
  width:1000px;
  height:auto;
  margin:0 auto 20px;
}
  
.list_movie_image li {
  margin-left:5px;
  margin-top:5px;
 position:relative;
}
#live-tv li img {
    border-radius: 5px;
    border: 1px solid #86b3ab;
    box-shadow: 0 0 10px #79652c;
    margin-left: 0px;
    height: 52px;
    margin: 0.5px;
    opacity: 1;
    padding: 7px;
    background-color:#f5f5f5;
    visibility: visible;
    width: 96px;
}

#live-tv li:hover img {
    border-radius: 8px;
    border: 1px solid #1ee8e0;
    box-shadow: 0 0 15px #2559b5;
    margin-left: 0px;
    height: 52px;
    margin: 0.5px;
    opacity: 1;
    padding: 0px;
    background-color:#223267;
    visibility: visible;
    width: 96px;
	-webkit-transition:all .5s;
    transition:all .5s;
}

#live-tv li.last {
  float:right;
  margin-right:4px;
}
 

h1 {
  color:red;
}

.h1na,
.h2na {
  font-size:0;
}

/* ========== QUANG CAO BANNER GOC TRAI ============================= */
 

h1.titletv {
  color:#9a1d0d;
  font-size:16px;
  font-family:Trebuchet MS,Tahoma,Verdana;
  text-shadow:1px 1px 1px gray;
}

h1 a {
  color:#9a1d0d;
  text-decoration:none !important;
}

h1 a:hover {
  text-decoration:underline overline;
  color:green;
}
 
  

.clear {
  clear:both;
  line-height:1px;
  font-size:1px;
}
/*CSS PLAYER TRUC TIEP*/
.right-heading {
	width:100%;
  height:32px;
   background:#86b3ab;
}

.right-heading h1 {
   background:#1d5069;
  	width:100%;
color:#FFFFFF;
  height:32px;
  line-height:32px;
  text-transform:uppercase;
  font-size:14px;
}

.right-heading h3 {
   background:#86b3ab;
  color:#FFFFFF;
  height:32px;
  line-height:32px;
  text-transform:uppercase;
  font-size:11px;
}
.et-info .et-box-content {
  background:#f7f4b4 url(http://4.bp.blogspot.com/-fTvWorFZW7A/VUHC2uqSc_I/AAAAAAAAB1k/4bMiL0qvNh0/s1600/pkXYg.png) no-repeat 18px 13px;
  border:1px solid #ffffea;
}

.sexybutton.sexysimple.sexyblue {
  background-color:#015ea9;
}

.sexybutton.sexysimple {
  position:relative;
  padding:5px 10px 5px;
  font:inherit;
  font-size:13px !important;
  font-style:normal !important;
  font-weight:bold !important;
  color:#fff !important;
  line-height:1;
  background-image:url(http://xemtivi.biz/logo/RadcNI1.png);
  background-repeat:repeat-x;
  background-position:0 0;
  text-shadow:0 -1px 1px rgba(0,0,0,0.25),-2px 0 1px rgba(0,0,0,0.25);
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
  border-bottom:1px solid transparent\9;
  _background-image:none;
  display:-moz-inline-stack;
  display:inline-block;
  vertical-align:middle;
  position:relative;
  zoom:1;
  -moz-user-select:none;
}

.sexybutton.sexysimple.sexyred {
  background-color:#a90118;
}

#severkhac ul {
  line-height:normal;
  width:auto;
  margin-bottom:10px;
}

#severkhac li {
  display:inline;
  width:600px;
}

#severkhac a {
  background:#0066f9;
  border: 1px solid #f70000;
  box-shadow: 0 0 10px #99ded4;
  display:inline;
  color:#FFF;
  text-shadow:1px 1px 2px #013E5F;
  font-size:12px;
  font-weight:800;
  text-transform:uppercase;
  text-decoration:none;
  -moz-border-radius:3px;
  -khtml-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  margin:3px;
  padding:4px 12px 4px 6px;
}

#severkhac a:hover {
  background:#2EB86C;
  border: 1px solid #0042f9;
  box-shadow: 0 0 10px #ff0000;
  background:-moz-linear-gradient(0% 100% 90deg,#f2fd00,#48f3cf);
  background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f9f738),to(#b29cfd));
}

#severkhac li.selected a {
  background:#102c40;
  background:-moz-linear-gradient(0% 100% 90deg,#08122b,#6a98a4);
  background:-webkit-gradient(linear,0% 0%,0% 100%,from(#6a98a4),to(#08122b));
}

.info{background:#fff;overflow:hidden;padding:10px 15px;-webkit-border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:1px solid #eee;-webkit-box-shadow:0 2px 0 #ECECEC;-khtml-box-shadow:0 2px 0 #ECECEC;-moz-box-shadow:0 2px 0 #ECECEC;-ms-box-shadow:0 2px 0 #ECECEC;-o-box-shadow:0 2px 0 #ECECEC;box-shadow:0 2px 0 #ECECEC;}.main .info img{width:100px;float:left;margin-right:15px;}.main .info p{line-height:1.6em;text-align:justify;}
.pull-left{float:left!important;}
.note{position:relative;background-color:#86b3ab;margin-bottom:-13px;-webkit-border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:10px 20px;line-height:1.6em;}



/* remove */
.gutter-0.row {
  margin-right: -0px;
  margin-left: -0px;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

/* customize */
.gutter-6.row {
  margin-right: -3px;
  margin-left: -3px;
}
.gutter-6 > [class^="col-"], .gutter-6 > [class^=" col-"] {
  padding-right: 3px;
  padding-left: 3px;
}

/* COLOR TAB */
.nav-tabs{
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ea2929),to(#f58340));
  border-color:#933233;
  	color: #004f7c;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .55);
}

.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:active{
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#86b3ab),to(#5dadef));
  border-color:#933233;
  	color: #004f7c;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .55);
	
}  
.vacov1 {
    background: #2fa98d;
    width: 100%;
	padding-left: 12px;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 11px;
} 
.top_chart ul li {
    border-bottom: 1px solid #86b3ab;
    clear: both;
    display: inline-block;
    min-height: 38px;
    overflow: hidden;
    padding: 5px 0px 0px;
}
.top_chart .t_c_numb {
    background-position: 0px -93px;
    display: inline-block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    color: #000;
    font-weight: 600;
    height: 28px;
    margin-left: 5px;
    padding-top: 4px;
    text-align: center;
    width: 34px;
}
.top_chart .t_c_info {
    float: left;
    margin-left: 5px;
    width: 269px;
    margin-top: 5px;
}
.tabs .tabs_contenta {
    width: 100%;
	background-color: #b1bbc7;
    clear: both;
    display: inline-block;
}
.top_chart .t_c_info .tc_i_n {
    font-size: 13px;
    font-weight: 830;
}
.sprites {
    background-image: url("https://1.bp.blogspot.com/-vQZqa4IvwvI/X6gEWY8Ph4I/AAAAAAAAD-4/1m4Z3o8PezMgSXRGFBMpKA0kNQUpgc8qgCNcBGAsYHQ/s0/xemtivitructuyen.png");
}
